/*
!/.gitignore
!/build.gradle
!/extensions
/extensions/*/*
!/extensions/*/build.gradle
!/extensions/*/res
!/extensions/*/src
!/gradle
!/gradlew
!/gradlew.bat
!/libraries
/libraries/*/*
!/libraries/*/build.gradle
!/libraries/*/res
!/libraries/*/src
!/LICENSE
!/README.md
!/settings.gradle
