/*
!/.gitignore
!/build.gradle
!/COPYING
!/engines
/engines/*/*
!/engines/*/build.gradle
!/engines/*/res
!/engines/*/src
!/extensions
/extensions/*/*
!/extensions/*/build.gradle
!/extensions/*/res
!/extensions/*/src
!/gradle
!/gradlew
!/gradlew.bat
!/libraries
/libraries/*/*
!/libraries/*/build.gradle
!/libraries/*/res
!/libraries/*/src
!/README.md
!/settings.gradle
